.lesson-layout {
    display: flex;
    position: absolute;
    height: 100%;
    overflow: scroll;
    width: 100%;
             
    /* width */
    &::-webkit-scrollbar {
        width: 0px;
    }

    .lesson-layout-visual {
        overflow: auto;
    }

    .lesson-content {
        overflow-y: scroll;
        width: 100%;
    }
}

