.wave-editor {
    border: 1px solid gray;
    padding: 3px;
    width: fit-content;

    .wave-editor-row {
        input[type = "range"] {
            width: 300px;
        }

        input[type = "number"] {
            width: 50px;
        }
    }
}