.tr-number-slider {
    input[type = "range"] {
        width: 300px;
    }

    input[type = "number"] {
        width: 50px;
    }

    .tr-number-slider-title {
        width: 150px;
        text-align: right;
    }
}