* {
  box-sizing: border-box;
}

#root {
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.App {
  height:100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu-lesson {
  display: inline;
  font-size: 20px;
  padding: 3px;
  margin: 2px;
  border: 1px solid lightblue;
  border-radius: 3px;
  background-color: lightgreen;
}

.container {
  height:100%;
  width:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  width:100%;
  overflow-y: hidden;
}

.footer{
  max-height:30%;
  width:100%;
}